* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
    font-weight: bold;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: url(background.jpg);
    background-size: cover;
}

.calculator {
    padding: 30px;
    border: 1px solid black;
    border-radius: 20px;
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.5);
    background-color: rgba(0, 0, 0, 0.432);
}

input {
    width: 300px;
    padding: 24px;
    margin: 10px;
    background: rgba(167, 165, 165, 0.247);
    box-shadow: inset 0 0 8px rgba(0, 0, 0, 0.8);
    font-size: 35px;
    text-align: right;
    color: #fff;
    border: 2px solid black;
    border-radius: 16px;
    text-shadow: 0px 1px 5px rgba(0, 0, 0, 0.2);
}

input::placeholder {
    color: #fff;
}

button {
    width: 45px;
    height: 45px;
    margin: 15px;
    background-color: rgba(0, 0, 0, 0.7);
    color: #fff;
    font-size: 25px;
    cursor: pointer;
    border: 1px solid rgb(17, 17, 17);
    border-radius: 20px;
    text-shadow: 0 1px 5px rgba(0, 0, 0, 0.2);
    box-shadow: -1px 2px 10px rgba(0, 0, 0, 0.5);
}

.ac,
.del {
    font-size: 20px;
}

button:hover {
    background-color: #f67c14;
    color: #fff;

}

.equalbtn {
    background-color: #f67c14;
}

.operator {
    color: #f67c14;
}